# Python cache
__pycache__/
*.pyc

# Model weights
*.bin
*.pt
*.safetensors

# Model folders
models/
checkpoints/

# Databases (Spider dataset)
data/database/
*.sqlite
*.db

# Mac files
.DS_Store
text2sql-demo/



inference.py
run_sql.py
run_text2sql.py
schema_utils.py
sql_cleaner.py